doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  title My Schedule
  style.
    #logout{
    height: 20px;
    }
    .deleteButton{
    background-color: #CC1919;
    visibility: hidden;
    }
    .editButton{
    background-color: lightblue;
    visibility: hidden;
    }
    /* #deleteButton0{
    visibility: hidden;
    }*/
    /* div.hiddendiv {
    visibility: hidden;
    } */
    /*
    div:hover .hiddendiv{
    display:block;
    }*/
nav.navbar.navbar-expanded.navbar-light.bg-light.mb-5
  ul.nav.nav-pills
    li.nav-item
      a.nav-link(href='/') Home
    li.nav-item.active
      a.nav-link.active(href='/schedule') Schedule
    li.nav-item
      a.nav-link(href='/addEvent')
        | Add
        | Event
    li.nav-item
      a.nav-link(href='/logout')
        img#logout(src='http://localhost:9007/client/logout.png' alt='logout')
.container.mb-5
  .alert.alert-secondary(role='alert')
    | Click on a day to see its events
.container.mb-3
  ul#days.nav.nav-tabs.nav-fill
    li.nav-item
      a.nav-link(onclick='formTable(this)') Sunday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Monday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Tuesday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Wednesday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Thursday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Friday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Saturday
  br
  br
  .container
    table#scheduleTable.table.table-striped
      thead
        tr
          th(scope='col') Name
          th(scope='col') Time
          th(scope='col') Location
          th(scope='col') Phone
          th(scope='col') Extra Information
          th(scope='col')
      tbody#tableBody
script.
  function formTable(element) {
  $('#days li a').removeClass("active");
  $(element).addClass("active");
  clearTable();
  let day_val = $(element).text().toLowerCase();
  //TODO: Make request and fill table with events for the day
  url = '/getSchedule?' + $.param({day: day_val})
  console.log("URL: ", url)
  fetch(url)
  .then(response => {
  return response.text();
  })
  .then(html=>{console.log(html)
  //console log data, parse JSON
  var myArr = JSON.parse(html);
  console.log("data: " , myArr)
  myFunction(myArr);
  })
  .catch(error=> console.log("Request failed",error));
  }
  function myFunction(arr) {
  var out = "";
  var i;
  //console.log("ARRAY: ", arr[0])
  //console.log("ARRAY length: ", arr.length)
  for(i = 0; i < arr.length; i++) {
  out += '<tr ' + 'id = ' + '"'+ arr[i]["event_id"] +'" '+ 'onmouseover="displayButtons(' + i + ')" onmouseout="hideButtons(' + i + ')">'
  out += '<td>' + arr[i]["event_event"] + '</td>'
  //out += '<td>' + arr[i]["start"] + '-' + arr[i]["end"]+ '</td>'
  out += '<td>' + formatTime(arr[i]["event_start"]) + '-' + formatTime(arr[i]["event_end"]) + '</td>'
  out += '<td>' + arr[i]["event_location"] + '</td>'
  out += '<td>' + arr[i]["event_phone"] + '</td>'
  out += '<td><a href=' + arr[i]["event_url"] +'>'+ arr[i]["event_info"] + '</a></td>'
  out += '<td><button class = "deleteButton" id="deleteButton'+ i +  '" type="button" ' + 'onClick="deleteRow(' + arr[i]["event_id"]+ ')"' + '">Delete</button> <button class="editButton" id="editButton' + i + '" type="button" ' + 'onClick="editRow(' + arr[i]["event_id"]+ ')"' +'">Edit</button></td>'
  out += '</tr>'
  }
  console.log("OUTPUT: ", out)
  document.getElementById("tableBody").innerHTML = out;
  }
  function formatTime(timeString) {
  const [hourString, minute] = timeString.split(":");
  const hour = +hourString % 24;
  return (hour % 12 || 12) + ":" + minute + (hour < 12 ? "AM" : "PM");
  }
  function clearTable() {
  $('#scheduleTable tbody').empty();
  }
  function deleteRow(event_id){
  console.log("Delete row with id: " + event_id)
  if(window.confirm("Do you really want to delete this event?")){
  console.log("confirmed request")
  url = '/deleteEvent?' + $.param({id: event_id})
  console.log("URL: ", url)
  fetch(url)
  .then(response => {
  return response.text();
  })
  .then(data=>{console.log(data)
  //console log data, parse JSON
  //var myArr = JSON.parse(html);
  //console.log("data: " , myArr)
  //myFunction(myArr);
  console.log("#" + event_id)
  if (data == "OK"){
  console.log("200 response")
  $("#" + event_id).remove();
  }
  })
  .catch(error=> console.log("Request failed",error));
  }
  }
  function editRow(event_id){
  console.log("Edit row with id: " + event_id)
  url = '/editEvent?' + $.param({id: event_id})
  console.log("URL: ", url)
  fetch(url)
  .then(response => {
  return response.text();
  })
  .then(data=>{
  //window.location.href = '/editEvent'
  window.location.href = '/editEvent?' + $.param({id: event_id})
  })
  .catch(error=> console.log("Request failed",error));
  }
  function displayButtons(id){
  deleteButtonId = "deleteButton" + id.toString()
  editButtonId = "editButton"  + id.toString()
  document.getElementById(deleteButtonId).style.visibility = "visible";
  document.getElementById(editButtonId).style.visibility = "visible";
  }
  function hideButtons(id){
  deleteButtonId = "deleteButton" + id.toString()
  editButtonId = "editButton"  + id.toString()
  document.getElementById(deleteButtonId).style.visibility = "hidden";
  document.getElementById(editButtonId).style.visibility = "hidden";
  }